/*Использованые шрифты*/

@font-face {
font-family: GothamRounded;
src: url('fonts/GothamRoundedBook_21018.ttf');
}

/*Основа*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #373737;
}

/*Хэдэр*/

.header-nav {
    padding-top: 28px;
    padding-bottom: 31px;
    font-size: 18px;
    list-style: none;
}

.header-nav li {
    display: inline-block;
}

.header-nav li:first-child {
 margin-right: 56px;
 margin-left: 25.85%;
}

.header-nav li:nth-child(1) {
 margin-right: 60px;
}

.header-nav li:nth-child(2) {
 margin-right: 68px;
}

.header-nav a {
 display: block;
 color: #16a085;
 text-decoration: none;
 letter-spacing: 3px;
 text-transform: uppercase;
}

/*MAIN*/

main {
  background: #f5f6f7;
}

.image img{
    display: block;
    max-width: 100%;
    height: 100%;
    margin: auto 0;
}

.container {
 margin: 48px 85px 38px 110px;
 text-align: center
}

.rappresent-title{
 text-align: center;
 text-transform: uppercase; 
 font-size: 22px;
 letter-spacing: 3px;
}

.rappresent p{
 margin-top: 24px;
 font-size: 16px;
 line-height: 26px;
 text-align: center;
 letter-spacing: 2.4px;
}

.btn-rappresent{
 padding-bottom: 95px;
}

.btn {
    display: block;
    width: 195px;
    height: 50px;
    margin: 0 auto;
    padding-top: 3px;
    color: #ffffff;
    font-family: GothamRounded, sans-serif;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 4px;
    cursor: pointer;
}

/*футер*/

.footer-copyright {
    padding: 44px 105px 44px 0;
    text-align: right;
    font-size: 16px;
    letter-spacing: 2.4px;
}