@font-face {
    font-family: 'Verdana';
    src: url('./fonts/Verdana.eot');
    src: local('Verdana'),
    url('./fonts/Verdana.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Verdana.woff') format('woff'),
    url('./fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('./fonts/Verdana-Bold.eot');
    src: local('Verdana Bold'), local('Verdana-Bold'),
    url('./fonts/Verdana-Bold.eot') format('embedded-opentype'),
    url('./fonts/Verdana-Bold.woff') format('woff'),
    url('./fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
