html {
    height: 100vh;
}

body {
    min-height: 100vh;
}

.main_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Verdana', sans-serif;
    background: url("./image/background-body.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 50px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

.header {
    height: 54px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header_block {
    width: 85.5%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 17px;
}

.header_title {
    float: left;
    color: #fff;
    font-size: 20px;
    line-height: 54px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 22px;
}

.header_title:hover {
   color:#3cb878;
   transition: color .8s ease-out;
}

.registration_form {
    width: 323px;
    margin: 0 auto;
}

.header_sign {
    float: right;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 12px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
}

.header_link {
    color: #3cb878;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.header_link:hover {
    border-bottom: 1px solid #3cb878;
    transition: all .8s ease-out;
}

.header_icons-box {
    float: right;
    width: 146px;
}

.header_icon {
    float: right;
    display: block;
    margin-top: 18px;
    height: 20px;
    margin-left: 227px;
    text-decoration: none;
    background-image: url('./image/header_spritesheet.png');
    background-repeat: no-repeat;
}

.header_icon:hover {
    background-image: url('./image/header_spritesheet_hover.png');
    transition: background-image .8s ease-out;
}

.icon-calendar {
    width: 25px;
    height: 26px;
    margin: 0 1vw;
    margin-top: 17px;
    padding-left: 2px;
    background-position: -5px -5px;
}

.icon-forum {
    width: 25px;
    height: 26px;
    margin: 0 1vw;
    margin-top: 17px;
    padding-left: 2px;
    background-position: -34px -5px;
}

.icon-compass {
    width: 25px;
    height: 26px;
    margin: 0 1vw;
    margin-top: 17px;
    padding-left: 2px;
    background-position: -72px -5px;
}

main {
    margin: 100px auto;
}

.registration_form {
    width: 444px;
    height: 584px;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    /* border: 1px solid #fff; */
    border-radius: 15px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.3);
}

.form_title {
    font-size: 14px;
    line-height: 21px;
}

#square {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    margin-top: 30px;
    left: 0px;
    position: absolute;
}

.form_sign {
    font-size: 20px;
    line-height: 21px;
    position: absolute;
    top: 28px;
    left: 30px;
}

.form_log_in {  
    font-size: 14px;
    line-height: 64px;
    position: absolute;
    top: 11px;
    right: 30px;
    color: #3cb878;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.form_log_in:hover {
    border-bottom: 1px solid #3cb878;
    transition: border-bottom .8s ease-out;
}


.form_social {
    display: inline-block;
    width: 335px;
    margin: 65px 0 0 55px;
}

.social_btn {
    position: relative;
    width: 157px;
    height: 46px;
    padding-left: 64px;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    text-align: left;
    vertical-align: center;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
    clear: both;
}

.btn-fb {
    margin-right: 8px;
    background-color: #305db8;
    border-color: #305db8;
}

.btn-fb::before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 45px;
    height: 28px;
    background: url("./image/image_social_fb.png") no-repeat 50% 50%;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-fb:hover {
    background-color: #264b96;
    border-color: #264b96;
    transition: all .8s ease-out;
}

.btn-gl {
    padding-left: 70px;
    background-color: #df4a32;
    border-color: #df4a32;
    margin-left: 8px;
}

.btn-gl::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    width: 45px;
    height: 28px;
    background: url("./image/image_social_g_plus.png") no-repeat 50% 50%;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-gl:hover {
    background-color: #c3412c;
    border-color: #c3412c;
    transition: all .8s ease-out;
}

.form_line {
    border-top: 1px solid #eaeaea;
    position: relative;
    margin-bottom: 20px;
    margin-top: 50px;
}

.form_line::after {
    content: "or";
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -26px;
    display: block;
    width: 52px;
    font-size: 14px;
    line-height: 21px;
    color: #848484;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
}

/* input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    margin-bottom: 9px;
    padding-left: 18px;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
} */

/* input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    box-sizing: border-box;
    height: 44px;
    margin-bottom: 9px;
    padding-left: 18px;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    box-shadow: 0 5px 9px rgba(0,0,0,0.3);;
} */

.single-input{
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    font-family: 'Verdana', sans-serif;
    padding: 15px;
}

input::placeholder {
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #bebebe;
}

input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 20px;
    height: 20px;
    margin: 10px 10px 0 0;
}

.form-inputs {
    width: 330px;
    margin: 0 auto;
}

.agree_box {
    position: relative;
    display: block;
    margin: 20px 70px 0px 70px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}

.agree_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 2px;
}

input[type="checkbox"]:checked + .agree_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: url("./image/check_mark.png");
    border: 1px solid #eaeaea;
    border-radius: 2px;
}
#first-name{
    width: 305px;
    border-radius: 3px;
}
#last-name{
    width: 305px;
    border-radius: 3px;

}
#email {
    width: 305px;
    border-radius: 3px;

}
#main-password {
    width: 305px;
    border-radius: 3px;

}
#confirm-password {
    width: 305px;
    border-radius: 3px;

}

.agree_box a {
    font-size: 14px;
    line-height: 21px;
    color: #3cb878;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.agree_box a:hover {
    border-bottom: 1px solid #3cb878;
    transition: border-bottom .8s ease-out;
}

.form_btn {
    width: 330px;
    height: 44px;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    background-color: #3cb878;
    border: 1px solid #3cb878;
    border-radius: 3px;
    cursor: pointer;
    margin: 15px 70px 0 70px ;
}

.form_btn:hover {
    background-color: #329a65;
    border-color: #329a65;
    transition: all .8s ease-out;
}
