@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('./Fonts.Ramda/MyriadPro-Regular.eot');
    src: url('./Fonts.Ramda/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./Fonts.Ramda/MyriadPro-Regular.woff') format('woff'),
    url('./Fonts.Ramda/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 1280px;
    margin: 50px auto 30px;
}

.logo {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 80px;
}

.logo a {
    color: #000;
    text-decoration: none;
    text-align: left;
}

.logo span {
    color: #4bcaff;
}

.header_menu_block {
    margin-top: 40px;
    background-color: #35444f;
}

.header_menu {
    width: 974px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.header_menu li {
    display: inline-block;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}

.header_menu a {
    display: inline-block;
    padding: 20px 40px;
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.header_menu li:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.left_menu_box {
    display: inline-block;
    width: 343px;
    margin-top: 50px;
    margin-right: 45px;
    padding: 0;
    vertical-align: top;
    list-style: none;
    border: 1px solid #35444f;
}

.left_menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.left_menu a {
    display: block;
    padding: 25px 40px 23px;
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 27px;
    color: #485863;
    text-decoration: none;
}

.left_menu a:hover {
    padding-left: 65px;
    color: #000;
    background-color: #dbdbdb;
}

main {
    display: inline-block;
    width: 885px;
    margin-top: 50px;
}

.main_image_block {
    width: 883px;
    height: 528px;
    border: 1px solid #35444f;
    overflow: hidden;
}

.main_image {
    width: 100%;
    height: 100%;
    background: url("./Image.Ramda/ramda-logo.png") no-repeat center;
}

.main_image:hover {
    transform: scale(1.2);
    transition: all .8s ease-out;
}

.main_text-block {
    padding: 45px 30px;
}

.main_text1, .main_text2 {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 24px;
    text-align: left;
}

.main_text2 {
    margin-top: 25px;
}

footer {
    background-color: #b4b7ba;
}

.footer_menu {
    display: inline-block;
    margin-left: 30px;
}

.footer_menu ul {
    padding: 0;
    list-style: none;
    font-size: 0;
}

.footer_menu li {
    display: inline-block;
    padding: 18px 12px;
}

.footer_menu a {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 28px;
    color: #000;
    text-decoration: none;
}

.footer_menu a:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
}

.footer_copyright {
    display: inline-block;
    margin-left: 200px;
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 24px;
    color: #000;
    text-align: right;
}
