/*ОСНОВА*/

body {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    font-family: 'Verdana', sans-serif;
    background-image: url("./images/background_1X.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 1065px;
    margin: 0% auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*ХЭДЭР*/

.header_block {
    padding-top: 45px;
    padding-bottom: 40px;
}

.header_logo {
    display: block;
    float: left;
    color: #fff;
    text-decoration: none;
}

.header_logo:hover > .logo_image {
    background-image: url("./images/header_logo_hover.png");
    background-repeat: no-repeat;
}

.logo_image {
    height: 44px;
    width: 46px;
    float: left;
    margin-top: 4px;
    margin-right: 14px;
    background-image: url("./images/header_logo.png");
    background-repeat: no-repeat;
}

.logo_title {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

.main_text {
    display: block;
}

.main-big-text {
    font-size: 29px;
}

.main-small-text {
    font-size: 19px;
    line-height: 24px;
}

.contacts {
    float: right;
    margin-top: 10px;
    text-align: right;
    color: #fff;
}

.contacts_text {
    display: block;
}

.contacts_email {
    font-size: 18px;
}

.contacts_number {
    font-size: 18px;
    line-height: 26px;
}

.tour__block {
    float: left;
    margin-left: 65px;
}

.tour__block:first-child, .tour__block:nth-child(4n) {
    margin-left: 0;
}

.tour-image__block {
    position: relative;
    width: 307px;
    height: 200px;
    padding: 2px;
    background: linear-gradient(to bottom, #fff, #010101);
    overflow: hidden;
}

.tour-image {
    display: block;
    text-decoration: none;
}

.image-description__block {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    bottom: -63px;
    height: 63px;
    background-color: #f26522;
    visibility: hidden;
}

.image-description_left {
    float: left;
    margin-top: 15px;
    margin-left: 23px;
}

.image-description_left-sm {
    display: block;
    font-size: 10px;
}

.image-description_left-large {
    display: block;
    margin-top: 4px;
    font-size: 20px;
}

.image-description_right-details {
    float: right;
    display: block;
    margin-top: 30px;
    margin-right: 13px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

.image-description_right-details::after {
    content: '\00A0 \00A0 \203A';
    font-size: 21px;
    vertical-align: top;
}

/*Animation image description block*/

.tour-image:hover + .image-description__block {
    visibility: visible;
    bottom: 0;
    transition: all .8s ease-out;
}

.image-description__block:hover {
    visibility: visible;
    bottom: 0;
}

/*End animation image description block*/

.tour__description {
    margin-top: 18px;
    margin-bottom: 55px;
    text-align: center;
}

.tour__description a {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    text-transform: capitalize;
}

.tour-image__block:hover + .tour__description a, .tour__description a:hover {
    color: #f26522;
}

/*End Main*/


/*Footer*/

.footer {
    padding-bottom: 20px;
}

.copyright {
    font-size: 12px;
    text-align: center;
    color: #fff;
}

