/* Body of Table */

body {
    margin: 0;
}
table {
    border-collapse: collapse;
    border: 24px solid #3a4965;
    margin: 0 auto;
    font-family: 'Arimo', sans-serif;
}
td {
    border-left: 2px solid #cfcfcf;
     width: 277px;
     height: 70px;
    text-align: center;
}

/* Titles */

.title {
    color: #484848;
    text-transform: uppercase;
    font-size: 18px;     
}

.sub-title {
    color: #484848;
    text-transform: uppercase;
    font-size: 30px;
}

.amount {
    display: inline-block;
    color: #484848;
    text-transform: uppercase;
    font-size: 55px;  
}
.period {
    display: inline-block;
    text-align: left;
}

.month {
    color: #484848;
    text-transform: uppercase;
    font-size: 18px;
}

.coins {
    color: #484848;
    text-transform: uppercase;
    font-size: 24px;
     
}

/* Types of services */

.standard {
    background-color: #89c331;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 24px;  
}

.ultimate {
    background-color: #f04a56;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 30px; 
}

.premium {
   background-color: #20807c;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 24px; 
}

/* Buttons */

.btn-contact {
    background-color: #484848;
}

.btn-contact:hover {
    border-bottom: 9px solid #404040;
    transition: 0.5s ease-in-out;
}

.btn-buy-standart {
    background-color: #89c331;
}

.btn-buy-standart:hover {
    border-bottom: 9px solid #79b027;
    transition: 0.5s ease-in-out;
}
 .btn-buy-ultimate {
     background-color: #f04a56;
 }

 .btn-buy-ultimate:hover {
     border-bottom: 9px solid #df3a46;
     transition: 0.5s ease-in-out;
 }
 .btn-buy-premium {
     background-color: #20807c;
 }
.btn-buy-premium:hover {
    border-bottom: 9px solid #16736f;
    transition: 0.5s ease-in-out;
}

 .row-storage, .row-email, .row-products {
     background-color: #f2f2f2;
     color: #848484;
     text-transform: uppercase;
     font-size: 16px;
 }

.row-bandwidth, .row-support, .row-users {
    background-color: #e3e3e3;
    color: #848484;
    text-transform: uppercase;
    font-size: 16px;
}

.nav-contact {
    background-color: #dddddd;
}

.btn {
    width: 192px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    text-transform: uppercase;  
    outline:none;
}

/* Icons */

.icon {
    display: inline-block;
    margin-left: 12px;
}

.icon {
    display: inline-block;
    font-size: 22px;
    padding-right: 12px;
}
